
<nav class="navbar">
                <div class="nav-bar">
                    <ul class="ulmenu">
                         <li class="nav-item">
                        <NavLink class="navlink" href="/">Start
                        </NavLink>
                        </li>
                        <li class="nav-item">
                        <NavLink class="navlink" href="/Convert">Konvertera
                        </NavLink>
                        </li>
                        <li class="nav-item">
                        <NavLink class="navlink " href="/Json">
                           Json
                        </NavLink>
                        </li>
                    </ul>

                </div>
        </nav>