@page "/"

<PageTitle>Start</PageTitle>

<h1>Startsida</h1>


<div class="homediv">
    <h2>Information om mig</h2>
    <ul>
        <li><b>Namn:</b> Sofia Dahlberg</li>
        <li><b>Ålder:</b> 29</li>
        <li><b>Vad jag ser fram emot 2024:</b> Att få jobba som webbutvecklare</li>
        <li><b>Planerade resor 2024:</b> Spanien & New York</li>
    </ul>
  </div>