/* Footer.razor.css */
[b-fsvv03w1j4] .Footer {
    background-color: rgb(202, 201, 201);
    color: #000000;
    text-align: center;
    padding: 1%;
     margin-top: 4%;
    margin-bottom: 0; 
}
[b-fsvv03w1j4] .address{
    background-color: rgb(202, 201, 201);
}
